.App,
main {
  position: absolute;
  height: 80vh;
  width: 80vw;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.App {
  max-width: 760px;
  max-height: 769px;
  background-color: #0b2434;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f5;
  max-width: 680px;
  max-height: 656px;
}

.dice-container {
  display: grid;
  place-self: center;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0px 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
}
.dice:active,
.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dice-num {
  font-size: 2em;
  font-weight: 300;
}

.roll-dice {
  width: 92.16px;
  height: 35.84px;
  background-color: #5035ff;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: #5035ff;
  cursor: pointer;
  align-self: center;
}
